<%= form_for(@cave) do |f| %>
  <% if @cave.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cave.errors.count, "error") %> prohibited this cave from being saved:</h2>

      <ul>
      <% @cave.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cavename %><br>
    <%= f.text_field :cavename %>
  </div>
  <div class="field">
    <%= f.label :creatures %><br>
    <%= f.text_field :creatures %>
  </div>
  <div class="field">
    <%= f.label :requirements %><br>
    <%= f.text_field :requirements %>
  </div>
  <div class="field">
    <%= f.label :coordinates %><br>
    <%= f.text_field :coordinates %>
  </div>
  <div class="field">
    <%= f.label :boss %><br>
    <%= f.text_field :boss %>
  </div>
  <div class="field">
    <%= f.label :drops %><br>
    <%= f.text_field :drops %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
