// HTML for each AJAX request is in the _calculator partial //
// Appened to #cave in line 8 								//

//Empty creatures and boss divs
$("#creatures").empty();
$("#boss").empty();
$("#cave").empty();
$("#cave").append("<%= escape_javascript(render 'calculator') %>");

var indexLoop = 0;
<% @cave.creature.sort.each do |c| %>
	<% if c.creaturename.downcase == @cave.boss.downcase %>
	//alert("creature creaturename: " + "<%= c.creaturename %>" + " Cave boss name: " + "<%= @cave.boss %>");
	$("#boss").append("<div class='col-xs-12 col-sm-6 col-md-4 col-lg-4'>"
		+ "<div class='progress progress-striped'><div id='creature-percent-" + indexLoop
		+ "'class='progress-bar creature-health-text creature-health-bar progress-bar-striped' role='progressbar' aria-valuenow='100' aria-valuemin='0' aria-valuemax='100' style='width:100%'>100%</div></div>"
    + '<div class="row"><div class="col-xs-0 col-sm-3"></div><div class="col-xs-3 col-sm-6 creaturename text-center"><%= escape_javascript(c.creaturename) %></div><div class="col-xs-3"></div></div>' 
    + '<div class="row"><div class="col-xs-4"></div><div class="col-xs-4 boss"><%= escape_javascript(image_tag(c.imagelocation)) %></div><div class="col-xs-4"></div></div>'
    + "</br><span style='display:none;' class='creaturevita'><%= escape_javascript(c.vita.to_s) %></span>" 
		+ "</br><span style='display:none;' class='creatureac'><%= escape_javascript(c.ac.to_s) %></span></div>"
		+ "</div>");
	<% else %>
	$("#creatures").append("<div id='creature-" + indexLoop + "' class='col-xs-12 col-sm-3 col-md-3 col-lg-2'>"
    + '<div class="row">'
    + '<div class="col-xs-12">'
		+ "<div class='progress progress-striped'><div id='creature-percent-" + indexLoop
		+ "' class='progress-bar creature-health-text creature-health-bar progress-bar-striped' role='progressbar' aria-valuenow='100' aria-valuemin='0' aria-valuemax='100' style='width:100%'>100%</div></div></div>"
		+ '<div class="row"><div class="col-xs-0 col-sm-3"></div><div class="col-xs-3 col-sm-6 creaturename text-center"><%= escape_javascript(c.creaturename) %></div><div class="col-xs-3"></div></div>'
    + '<div class="row"><div class="col-xs-4"></div><div class="col-xs-4"><%= escape_javascript(image_tag(c.imagelocation, class: "hidden", id: "set-creature-1")) %></div><div class="col-xs-4"></div></div>'
    + '<div class="row"><div class="col-xs-4 col-sm-3 col-md-3 col-lg-3"> <%= escape_javascript(image_tag(c.imagelocation, class: "hidden", id: "set-creature-2")) %></div>'
    + '<div class=col-xs-4 col-sm-3 col-md-3 col-lg-3"><%= escape_javascript(image_tag(c.imagelocation, id: "set-creature-3", class: "text-center")) %></div>'
    + '<div class=col-xs-4 col-sm-3 col-md-3 col-lg-3"><%= escape_javascript(image_tag(c.imagelocation, class: "hidden", id: "set-creature-4", style: "")) %></div>'
    + '<div class="row"><div class="col-xs-4"></div><div class="col-xs-4"><%= escape_javascript(image_tag(c.imagelocation, class: "hidden", id: "set-creature-5")) %></div><div class="col-xs-4"></div></div>'
		+ "</br><span style='display:none;' class='creaturevita'><%= escape_javascript(c.vita.to_s) %></span>" 
		+ "</br><span style='display:none;' class='creatureac'><%= escape_javascript(c.ac.to_s) %></span></div>"
		+ "</div></div></div>");
	<% end %>

	indexLoop++;
<% end %>

 $( document ).ready(function() {
  // ESTABLISH CHARACTER
 	player.setVita(2043000);
  	player.setMana(2292000);
  // CHECK TO SEE IF OPTIONS EXIST
 if(options.spell.length > 1) {
 	options.load();
 	spell.calculateDamage();
  }
  });
 // WHEN CURSE OPTION IS CHANGED
 $('#curse-chosen').on('change', function() {
  creature.curse = Number($(this).val());
  player.getStats();
  spell.calculateDamage();
  player.getStats();
  options.save()
  });

 // WHEN SPELL IS CHANGED
  $('#spell-chosen').on('change', function() {
  spell.name = $(this).val();
  player.getStats();
  spell.calculateDamage();
  player.getStats();
  options.save();
  });

 // WHEN SLEEP OPTION IS CHANGED
  $('#slept-chosen').on('change', function() {
  creature.sleep = Number($(this).val());
  player.getStats();
  spell.calculateDamage();
  player.getStats();
  options.save();
  });

 // WHEN VITA OR MANA IS CHANGED
  $("input").on('input', function() {
    player.getStats();
    spell.calculateDamage();
    options.save();
  });
