<p id="notice"><%= notice %></p>

<h1>Listing Caves</h1>

<table>
  <thead>
    <tr>
      <th>Cavename</th>
      <th>Creatures</th>
      <th>Requirements</th>
      <th>Coordinates</th>
      <th>Boss</th>
      <th>Drops</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @caves.each do |cave| %>
      <tr>
        <td><%= cave.cavename %></td>
        <td><%= cave.creatures %></td>
        <td><%= cave.requirements %></td>
        <td><%= cave.coordinates %></td>
        <td><%= cave.boss %></td>
        <td><%= cave.drops %></td>
        <td><%= link_to 'Show', cave %></td>
        <td><%= link_to 'Edit', edit_cave_path(cave) %></td>
        <td><%= link_to 'Destroy', cave, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? && current_user.id == 5 %>
<p> WORKED </p>
<%= link_to 'New Cave', new_cave_path %>
<% end %>
