<p id="notice"><%= notice %></p>

<h1>Caves</h1>
    <% @caves.each do |cave| %>
    <h2><%= cave.cavename %> </h2>
    <input type="checkbox" id="<%= cave.cavename.downcase %>-toggle" class='btn btn-primary'> Hide</input>
    <div class="row">
    <hr>
    
    <section id="<%= cave.cavename.downcase %>-creatures">
      <% cave.creature.each do |e| %>
        <div class="col-xs-3 col-sm-2 col-md-1">
          <%= image_tag(e.imagelocation)%></p>
          <p class="ps"><%= e.creaturename %></p>
          <p><%= e.vita %></p>
          <p><%= e.ac %></p>
        </div>
      <% end %>
      

      <ul>
        <% if Rails.env.development? || user_signed_in? && current_user.id == 5 %>
          <li><%= link_to 'Show', cave %></li>
          <li><%= link_to 'Edit', edit_cave_path(cave) %></li>
          <li><%= link_to 'Add Creature', new_creature_path %></li>
          <li><%= link_to 'Destroy', cave, method: :delete, data: { confirm: 'Are you sure?' } %></li>
        <% end %>
      </ul>
    </section>

  </div>

    <br>
<% end %>