<p id="notice"><%= notice %></p>

<p>
  <strong>Cavename:</strong>
  <%= @cave.cavename %>
</p>

<p>
  <strong>Creatures:</strong>
  <%= @cave.creatures %>
</p>

<p>
  <strong>Requirements:</strong>
  <%= @cave.requirements %>
</p>

<p>
  <strong>Coordinates:</strong>
  <%= @cave.coordinates %>
</p>

<p>
  <strong>Boss:</strong>
  <%= @cave.boss %>
</p>

<p>
  <strong>Drops:</strong>
  <%= @cave.drops %>
</p>

<%= link_to 'Edit', edit_cave_path(@cave) %> |
<%= link_to 'Back', caves_path %>
