<% if user_signed_in? %>
<div class="container">
  <div class="row">

    <section id="calculator">
        <div class="row">
          <div class="col-xs-12 col-lg-3 pull-right">
            <div class="row hidden">
            <div id="mgw" class="form-group">
              <div class="hidden col-xs-12 col-md-2 col-large-1">
                <div class="input-group">
                <span class="input-group-addon">AC</span>
                <input class="form-control" id="charAC" placeholder="AC" value="-95" size="3">
              </div>
              </div>
              <div class="hidden col-xs-12 col-md-2 col-large-1">
                <div class="input-group">
                  <span class="input-group-addon">Might</span>
                 <input class="form-control" id="charMight" placeholder="Might" value="135" size="3">
               </div>
             </div>
                 <div class="hidden col-xs-12 col-md-2 col-large-1">
                  <div class="input-group">
                  <span class="input-group-addon">Grace</span>
                 <input class="form-control" id="charGrace" placeholder="Grace" value="135" size="3">
               </div>
                 </div>
                 <div class="hidden col-xs-12 col-md-2 col-large-1">
                  <div class="input-group">
                  <span class="input-group-addon">Will</span>
                 <input class="form-control" id="charWill" placeholder="Will" value="135" size="3">
               </div>
                 </div>
                </div>
            </div>

            </br>

          

          
            <div class="row">
              <div class="col-xs-12">
                 <p></p>
              </div>
            </div>
                
            <div class="hidden row">
              <div class="col-md-7 col-large-12">
               <h3>Damage(0 ac): <span id="damageOutput"></span></h3>
              </div>
            </div>
        </div>
      </div>
    </section>

    <section id="cave-layout">
        <div id="caves" class="row">
          <div class="btn-group">
            <div class="btn-group">
            <%= button_to "Assassin", 
                { :controller => :caves, :action=> :getcave }, 
                { :remote => true, :class => "cave-button btn btn-danger", :method => 'get', params: {cave_id: 1} } 
            %>
            </div>
            <div class="btn-group">
              <%= button_to "Magus", 
                { :controller => :caves, :action=> :getcave }, 
                { :remote => true, :class => "cave-button btn btn-danger", :method => 'get', params: {cave_id: 2} } 
              %>
            </div>
            <div class="btn-group">
              <%= button_to "Hunter", 
                { :controller => :caves, :action=> :getcave }, 
                { :remote => true, :class => "cave-button btn btn-danger", :method => 'get', params: {cave_id: 3} } 
              %>
            </div>
            <div class="btn-group">
              <%= button_to "Hillmen", 
                { :controller => :caves, :action=> :getcave }, 
                { :remote => true, :class => "cave-button btn btn-danger", :method => 'get', params: {cave_id: 4} } 
              %>
            </div>
            <div class="btn-group">
              <%= button_to "Anchorite", 
                { :controller => :caves, :action=> :getcave }, 
                { :remote => true, :class => "cave-button btn btn-danger", :method => 'get', params: {cave_id: 5} } 
              %>
            </div>
            <div class="btn-group">
              <%= button_to "Wind", 
                { :controller => :caves, :action=> :getcave }, 
                { :remote => true, :class => "cave-button btn btn-danger", :method => 'get', params: {cave_id: 6} } 
              %>
            </div>
            <div class="btn-group">
              <%= button_to "Shadow", 
                { :controller => :caves, :action=> :getcave }, 
                { :remote => true, :class => "cave-button btn btn-danger", :method => 'get', params: {cave_id: 7} } 
              %>
            </div>
            <div class="btn-group">
              <%= button_to "Bandit", 
                { :controller => :caves, :action=> :getcave }, 
                { :remote => true, :class => "cave-button btn btn-danger", :method => 'get', params: {cave_id: 8} } 
              %>
            </div>
            <div class="btn-group">
              <%= button_to "Dread", 
                { :controller => :caves, :action=> :getcave }, 
                { :remote => true, :class => "cave-button btn btn-danger", :method => 'get', params: {cave_id: 9} } 
              %>
            </div>
            <div class="btn-group">
              <%= button_to "Greyhand", 
                { :controller => :caves, :action=> :getcave }, 
                { :remote => true, :class => "cave-button btn btn-danger", :method => 'get', params: {cave_id: 10} } 
              %>
            </div>
            <div class="btn-group">
              <%= button_to "Earth", 
                { :controller => :caves, :action=> :getcave }, 
                { :remote => true, :class => "cave-button btn btn-danger", :method => 'get', params: {cave_id: 11} } 
              %>
            </div>
            <div class="btn-group">
              <%= button_to "Water", 
                { :controller => :caves, :action=> :getcave }, 
                { :remote => true, :class => "cave-button btn btn-danger", :method => 'get', params: {cave_id: 12} } 
              %>
            </div>

          </div>
        </div>

        <div class="row">
            <div id="creature-content" class="panel">
              <section class="creatures"> 
                <div class="row">  
                  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
                    <h2 id="cave"></h2>
                  </div>                  
                  <!-- Add in the creatures dynamically -->
                  <div class="container">
                  <div class="col-xs-10 col-sm-9 col-md-9 col-lg-10">
                    <div id="creatures" class="row">
                      <h1>

                        <div id="notice">
                        <!-- DISPLAY DEVISE MESSAGES -->
                          <% flash.each do |key, value| %>
                          <span>
                            <h1 style="color:green;"><%= value %></h1>
                          </span>
                    
                          <% end %>
                        </div>

                        <strong>Please select a cave.</strong>
                      </h1>
                    </div>
                    <div id="boss" class="row">
                    </div>
                  </div>
                </div>
                </div>
              </section>
            </div>
        </div>
  
    </section>
      
  </div>
</div>

<!-- ELSE STATEMENT -->

<% else %>
<section id="landing-page-info">
 <!-- Modal -->
  <div class="modal" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h2 class="modal-title text-center">
            Please</br><%= link_to "Sign up", new_user_registration_path, style: "text-decoration: none;" %> or <%= link_to 'Login', user_session_path, style: "text-decoration: none;" %></h2>
        </div>
        <div class="modal-body">
          <div class="row">
            <div id="landing-page-box" class="col-xs-12">     
            <h4>
              <p>Features:</p>
              <p>Save stats (see where you left off)</p>
              <p>Track experience hunted between every stat save</p>
              <p>More additional features to come soon...</p>
            </br>
              <div id="devise-message">
              <!-- DISPLAY DEVISE MESSAGES -->
                <% flash.each do |key, value| %>
                <div class="alert alert-<%= key %>">
                <a href="#" data-dismiss="alert" class="close">×</a>
                <span>
                  <h3 style="color:red;"><%= value %></h3>
                </span>
                </div>
          
                <% end %>
              </div>

          </h4>
          </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  <!-- Modal End -->
  
</section>
<% end %>

