<!DOCTYPE html>
<html>

<head>
  <title>Nexus Hunting Calculator</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track'=> false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track'=> false %>
  <%= csrf_meta_tags %>
</head>

<body>
  <!-- Navigation Bar -->
  <section id="navigation-section">
    <nav role="navigation" class="navbar navbar-inverse">
      <div class="navbar-header">
        <button type="button" data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="#" class="navbar-brand">Nexus Hunting Calculator</a>
      </div>
      
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active">
            <%= link_to "Home", root_path %>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            
            <% if current_user.email == "sean_snyder@comcast.net" || current_user.id == 5 %>
              <li><%= link_to 'New Cave', new_cave_path %></li>
              <li><%= link_to 'New Creature', new_creature_path %></li>
            <% end %>

            <li><%= link_to "Sign out", destroy_user_session_path, :method=> :delete %></li>
          
          <% else %>
            
            <li><%= link_to "Login", user_session_path %></li>
          
          <% end %>
        </ul>
      </div>
    </nav>
  </section>
  
<!-- Content -->

  <section id="content">
   <%= yield %>
   <div id="footer-padding"></div>
  </section>



<!-- Footer -->
  <section id="footer-section" >
    <div class="navbar navbar-fixed-bottom footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 "> © Copyright 2015 by
            <%= link_to "Snyder-Dev", "http://www.snyder-dev.com" %>. All Rights Reserved. </div>
          <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 ">
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

</html>